<div class="top-header-bar d-none d-lg-block">
  <div class="row">
    <div class="top-header-bar-item col-lg-2">
      <div class="active"><i class="fas fa-bars"></i> Danh mục sản phẩm</div>
    </div>
    <div class="top-header-bar-item col-lg-2">
      <div>
        <a href="#">TỔNG HỢP KHUYẾN MÃI PC</a>
      </div> 
    </div>
    <div class="top-header-bar-item col-lg-2">
      <div>
        <a href="#">HƯỚNG DẪN THANH TOÁN</a>
      </div> 
    </div>
    <div class="top-header-bar-item col-lg-2">
      <div>
        <a href="#">HƯỚNG DẪN TRẢ GÓP</a>
      </div>
    </div>
    <div class="top-header-bar-item col-lg-2">
      <div>
        <a href="#">CHÍNH XÁC BẢO HÀNH</a> 
      </div> 
    </div>
    <div class="top-header-bar-item col-lg-2">
      <div>
        <a href="#">CHÍNH SÁCH VẬN CHUYỂN</a>
      </div> 
    </div>
  </div>
</div>
