.top-header-bar{

  font-size: 12px;
  margin: 0px 0px 20px 0px;

  .top-header-bar-item {
    padding: 0;

    div {
      text-align: center;
      margin: 0 5px;
      padding: 4px 0px;      
      border: 1px solid gray;
      border-radius: 5px;
      a{

        text-decoration: none;
        color: black;
        &:hover{
          color: white;
        }
      }

      &:hover{        
        background: #EA1C00;
      }
    }    
  }
}

.active{
  background: #505050;
  color: white;
  font-weight: 500;
}