<div class="footer-section">
  <div class="register-email d-flex justify-content-between align-items-center">
    <span class="ml-4">Mua hàng online với nhiều ưu đãi hơn tại GEARVN</span>

    <div class="input d-flex mr-4">
      <input type="text" placeholder=" Nhập email của bạn">
      <button class="btn btn-primary btn-sm">Đăng kí</button>
    </div>
  </div>
  <div class="footer mt-4 row">
    <div class="user1 col-12 col-sm-6 col-lg-4">
      <div class="moduletable">
        <h6>GEARVN.COM - HI-END PC & GAMING GEAR</h6>
        <h6>Công ty TNHH công nghệ GEARVN </h6>
        <div class="custom">
          Địa chỉ: 78-80 Hoàng Hoa Thám, Phường 12, Quận Tân Bình, Tp.HCM<br />
          Điện thoại: 1800 6975 (miễn phí) - Bảo hành: nhánh số 3<br />
          Email: nghialamngocit@gmail.com<br />
          <span style="font-size: 16px; color: #0655a6; font-weight: bold;">Hotline: 1800 6975</span><br />
          <a href="https://gearvn.com/pages/chinh-sach-bao-mat"
            style="font-size: 16px; color: #0655a6; font-weight: bold;">Chính sách bảo mật và hình thức thanh toán</a>

        </div>
        <p class="title-footer-2">Thời gian làm việc: 08:30 - 21:30 từ thứ 2 đến chủ nhật</p>
      </div>
    </div>
    <div class="user2 col-12 col-sm-6 col-lg-4">
      <div class="moduletable">
        <h6>BẢN ĐỒ ĐẾN GEARVN</h6>
        <ul class="menu fix-menu">

        </ul>

        <div class="footer-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1606644465287!2d106.64594336606866!3d10.799003996153102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752949379b9769%3A0x86858202248e4ff1!2zNzggSG_DoG5nIEhvYSBUaMOhbSwgUGjGsOG7nW5nIDEyLCBUw6JuIELDrG5oLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1529395677922"
            width="400" height="300px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

      </div>
    </div>
    <div class="user3 col-12 col-sm-6 col-lg-4">
      <div class="moduletable">
        <h6>Fanpage</h6>
        <div class="face-content">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgearvnhcm%2F&tabs=timeline&width=400&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2254078978139860" width="400" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="aaa float-right">
      <span>@Copyright Nghia.Lam</span>
</div>
<br><br>