.top-banner{
  height: 50px;
  a{
    display: inline-block;
    width: 100%;
    .gear-top-banner-block{
      height: 50px;
      background: #15AFED url('http://theme.hstatic.net/1000026716/1000440777/14/bn-top2.jpg?v=4302') no-repeat center center;
      background-size: auto;
    }
  }
}
