<div class="product-section">
  <div class="row row-margin-small">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 this-is-name">
      <a href=""><img src="http://theme.hstatic.net/1000026716/1000440777/14/xxxbanner1.jpg?v=4458" alt=""></a>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 this-is-name">
      <a href=""><img src="http://theme.hstatic.net/1000026716/1000440777/14/xxxbanner2.jpg?v=4458" alt=""></a>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 this-is-name">
      <a href=""><img src="http://theme.hstatic.net/1000026716/1000440777/14/xxxbanner3.jpg?v=4458" alt=""></a>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 this-is-name">
      <a href=""><img src="http://theme.hstatic.net/1000026716/1000440777/14/xxxbanner4.jpg?v=4458" alt=""></a>
    </div>
  </div>
  <br>
  <br>
  <app-featured-product [showHot]="true"></app-featured-product>
  <br>
  <br>
  <app-featured-product [showByCategoryId]="2"></app-featured-product>
  <br>
  <br>
  <app-featured-product [showByCategoryId]="3"></app-featured-product>
  <br>
  <br>
  <app-featured-product [showByCategoryId]="4"></app-featured-product>
</div>